.modal-header, .modal-body {
    color: #272727;
}

.effect-slider>ng5-slider {
    margin: 0px;
}

.effect-slider .ng5-slider .ng5-slider-bar {
    background: #8685ef85;
    height: 1px;
}

.effect-slider .ng5-slider .ng5-slider-pointer {
    width: 8px;
    height: 16px;
    top: auto;
    bottom: 0;
    background-color: #8685EF;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.effect-slider .ng5-slider .ng5-slider-pointer:after {
    display: none;
}

.effect-slider .ng5-slider .ng5-slider-bubble {
    bottom: 14px;
}

.effect-slider .ng5-slider.animate .ng5-slider-bubble {
    display: none;
}

.glitch-warning {
    font-size: 0.8rem;
    opacity: 0.7;
    margin-bottom: 0px;
    margin-top: 10px;
}