<div class="row" style="margin-top: 50px;">
    <div class="col-md-6 offset-md-3">
        <h1 class="title">Drag and Drop Sampler</h1>
    </div>
</div>

<div class="row" style="margin-top: 30px; margin-bottom: 30px;">
    <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-xs-1 offset-xs-1">
        <app-pad></app-pad>
    </div>
</div>

<div class="row" style="margin-top: 50px; margin-bottom: 50px;">
    <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-xs-1 offset-xs-1">
        <app-sequencer></app-sequencer>
    </div>
</div>